<a href="https://colab.research.google.com/github/sklee01061/AIPython/blob/main/AI%ED%8C%8C%EC%9D%B4%EC%8D%AC_4_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 변수에 할당된 값
a = 10

# 주어진 변수가 짝수인지 여부 확인
if a % 2 == 0:
    print("주어진 변수는 짝수입니다.")
else:
    print("주어진 변수는 홀수입니다.")

주어진 변수는 짝수입니다.

In [ ]:
# 사용자로부터 값을 입력받음
a = int(input("값을 입력하세요: "))

# 주어진 변수가 짝수인지 여부 확인
if a % 2 == 0:
    print("주어진 변수는 짝수입니다.")
else:
    print("주어진 변수는 홀수입니다.")

값을 입력하세요: 2
주어진 변수는 짝수입니다.

In [ ]:
# 사용자로부터 값을 입력받음
a = int(input("값을 입력하세요: "))

# 주어진 변수가 5보다 큰지 작은지 확인
if a > 5:
    print("주어진 변수는 5보다 큽니다.")
elif a < 5:
    print("주어진 변수는 5보다 작습니다.")
else:
    print("주어진 변수는 5입니다.")

In [ ]:
a = 10
b = 5
if a > 5:
    if b < 10:
        print("a는 5보다 크고 b는 10보다 작습니다.")

a는 5보다 크고 b는 10보다 작습니다.

In [ ]:
# 사용자로부터 점수 입력 받기
score = int(input("점수를 입력하세요: "))

# 등급 계산
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

# 결과 출력
print("등급은", grade, "입니다.")

# 거꾸로 넣으면 문제가 생겨 첫조건 60 이상이면 100 넣어도 d임

점수를 입력하세요: 88
등급은 B 입니다.

In [ ]:
a = [1, 2, 3, 4, 5]
for i in a:
    print(i)

1
2
3
4
5

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1, 101, 2):
    print(i)

In [ ]:
for i in range(1, 11):
    if i % 2 == 0:
        continue
    print(i)

In [ ]:
for i in range(5):
    if i % 2 == 0:
        continue
    print(i)
    break

In [ ]:
# break 를 사용한 문제

In [1]:
# 홀수와 짝수의 합을 저장할 변수 초기화
odd_sum = 0
even_sum = 0

# 1부터 100까지 반복하면서 홀수와 짝수의 합을 구함
for i in range(1, 101):
    if i % 2 == 0:  # 짝수인 경우
        even_sum += i
    else:           # 홀수인 경우
        odd_sum += i

# 결과 출력
print("홀수의 합:", odd_sum)
print("짝수의 합:", even_sum)

홀수의 합: 2500
짝수의 합: 2550

In [2]:
# 숫자 n 입력 받기
n = int(input())

# 1부터 n까지의 합을 저장할 변수 초기화
total_sum = 0

# 1부터 n까지의 숫자를 반복하면서 합을 계산
for i in range(1, n + 1):
    total_sum += i

# 결과 출력
print(total_sum)

5
15