<a href="https://colab.research.google.com/github/sklee01061/AIPython/blob/main/ai%ED%8C%8C%EC%9D%B4%EC%8D%AC4_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
    # list와 배열의 차이점 &  함수와 메소드의 차이점

In [ ]:
  # 다음 리스트에서 "APPLE" 요소를 출력하세요.
  FRUITS = ["banana", "apple", "orange", "cherry"]

  # 다음 리스트에서 마지막 요소를 출력하세요.
   numbers = [10, 20, 30, 40, 50]

 # 다음리스트에서 "banana" 요소를 "grape"로 변경하세요
   fruits = ["apple","banana","cherry"]

 # 다음 리스트에 "strawberry" 요소를 추가하세요.
   fruits = ["apple","banana","cherry"]

 # 다음 리스트에서 30을 제거하세요
   numbers = [10, 20, 30, 40, 50]

 # 다음 리스트의 길이를 출력하세요.
  numbers = [5, 10, 15, 20, 25]

 # 다음 리스트에서 가장 작은값 / 가장 큰 값을 찾아 출력
  numbers = [10, 5, 8, 3, 15]
 # 다음 리스트의 모든 요소의 합을 계산하여 출력하세요.
  numbers = [10, 20, 30, 40, 50]
 # 다음 리스트의 모든 요소를 제곱하여 새로운 리스트를 생성하세요.
  numbers = [1, 2, 3, 4, 5]
 # 다음 리스트에서 "apple" 요소의 개수를 출력하세요
  fruits =  ["apple","banana","apple", "cherry", "apple"]

In [3]:
1. fruits = ["banana", "apple", "orange", "cherry"]
2. print(fruits[1])

SyntaxError: invalid syntax (<ipython-input-3-0605dac18675>, line 1)

In [4]:
fruits = ["banana", "apple", "orange", "cherry"]
print(fruits[1])

apple

In [6]:
5. fruits = ["apple","banana","cherry"]
fruits.append("strawberry")
print(fruits)

SyntaxError: invalid syntax (<ipython-input-6-da63ccaa1ad6>, line 1)

In [7]:
fruits = ["apple", "banana", "cherry"]
fruits.append("strawberry")
print(fruits)

['apple', 'banana', 'cherry', 'strawberry']

In [10]:
numbers = [10,20,30,40,50]
numbers.pop(2)
print(numbers)

[10, 20, 40, 50]

In [15]:
numbers = [1,2,3,4,5]
new_list=[]
for num in numbers :
  newist.append(num)
  print(new_list)

[]
[]
[]
[]
[]

In [16]:
numbers = [1, 2, 3, 4, 5]
new_list = []

for num in numbers:
    new_list.append(num ** 2)

print(new_list)

[1, 4, 9, 16, 25]

In [ ]:
# 두 수를 더하는 함수를 정의하고 호출

In [17]:
def square(x) :
  result = x**2
  return result

In [18]:
ret=square(6)
print(ret)

36

In [20]:
print(square(6))
print(square(10))
print(square(15))
print(square(20))

36
100
225
400

In [21]:
1.new = square([1,2,3,4,5])
print(new)

SyntaxError: invalid decimal literal (<ipython-input-21-2ef322465b2a>, line 1)

In [23]:
def square(numbers):
    """리스트의 각 요소를 제곱하여 새로운 리스트를 반환하는 함수"""
    squared_numbers = [num ** 2 for num in numbers]
    return squared_numbers

new = square([1, 2, 3, 4, 5])
print(new)

[1, 4, 9, 16, 25]

In [24]:
def square(numbers) :  # 함수 호출
newist=[]
for num in numbers :
  newist.append(num**2)
  return newist

IndentationError: expected an indented block after function definition on line 1 (<ipython-input-24-0c5ac4fa5e02>, line 2)

In [25]:
def square(numbers):
    """리스트의 각 요소를 제곱하여 새로운 리스트를 반환하는 함수"""
    new_list = []
    for num in numbers:
        new_list.append(num ** 2)
    return new_list

# 함수 호출
result = square([1, 2, 3, 4, 5])
print(result)

[1, 4, 9, 16, 25]

In [27]:
1 def bmi(h,w) :
2
3
4
5 return

SyntaxError: invalid syntax (<ipython-input-27-5166ad22675a>, line 1)

In [28]:
1.결과=bmi(190,90)
2.print(결과)

SyntaxError: invalid decimal literal (<ipython-input-28-385d3d614c72>, line 1)

In [30]:
def calculate_bmi(weight, height):
    """
    BMI를 계산하는 함수
    :param weight: 체중(kg)
    :param height: 키(m)
    :return: BMI 값
    """
    bmi = weight / (height ** 2)
    return bmi

# 사용자로부터 체중과 키를 입력받아 BMI를 계산
weight = float(input("체중을 kg 단위로 입력하세요: "))
height = float(input("키를 미터 단위로 입력하세요: "))

bmi_result = calculate_bmi(weight, height)
print("당신의 BMI는 {:.2f}입니다.".format(bmi_result))

체중을 kg 단위로 입력하세요: 150
키를 미터 단위로 입력하세요: 160
당신의 BMI는 0.01입니다.